<footer
    class="d-flex flex-column flex-md-row align-items-center justify-content-center text-center py-3 border-top bg-dark">
    <!-- Logo U. Cundinamarca -->
    <a class="mb-3 mb-md-0 text-center"
        href="https://www.ucundinamarca.edu.co/index.php/programas/pregrado/facultad-de-ingenieria/ingenieria-de-sistemas-y-computacion">
        <img id="logo" data-dark-src="{{ url_for('static', filename='img/imagotipo/IMAGOTIPO HORIZONTAL BLANCO.png') }}"
            data-light-src="{{ url_for('static', filename='img/imagotipo/IMAGOTIPO HORIZONTAL NEGRO.png') }}"
            src="{{ url_for('static', filename='img/imagotipo/IMAGOTIPO HORIZONTAL BLANCO.png') }}"
            alt="Logotipo de la Universidad de Cundinamarca" height="40">
    </a>

    <div class="vr d-none d-md-block mx-md-4 mx-lg-5"></div>

    <span class="text-center">
        Proyecto desarrollado por
        <span class="brand-footer">Wololo</span>
        -
        <a class="text-decoration-none text-reset" href="https://github.com/JODACHSE/Modelo-Predictivo">Date una
            vuelta por el repositorio</a>
    </span>
</footer>